body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Chessboard{    
    align-self: center;                                              
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    height: 32vh;
    width: 32vh;
}
.row{
    display: flex;
    height: 4vh;
    width: 32vh;
}
.square{
    height: 4vh;
    width: 4vh;
}
.b{
    background-color: black;
}
.w{
    background-color: antiquewhite;
}