/* need to fix spacing on everything, nothing stays put.  look for some absolute or something.  To do later fix view window*/
body{
    display: flex;
    flex-direction: row;
    
}
aside{
    align-self:flex-start;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
}
.timer{
    height: 10vh;
    width: 10vh;
    align-self: flex-start;
    background-color: bisque;
    margin-bottom: 5vh;

}
.captured{

    height: 12vh;
    width: 17vw;
    align-self: flex-start;
    margin-right: 18vw;
}
.moveList{
 
    
    
    
    height: 25vh;
    width: 25vh;
    background-color:white ;
    border: solid black;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.boardBack{
    height: 32vw;
    width: 32vw;
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-self: center;
    background-color: rgb(85, 204, 85);
}

.Chessboard{    
    align-self: center;                                              
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    height: 48vh;
    width: 48vh;
}
.row{
    display: flex;
    height: 6vh;
    width: 48vh;
}
.square{
    height: 6vh;
    width: 6vh;
}
.b{
    background-color: black;
}
.w{
    background-color: antiquewhite;
}
.rightDumm{
    height:50vh;
    width:25vh;
}
.selected{
    background-color: grey;
}